<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sca="http://www.springframework.org/schema/sca"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/sca http://www.springframework.org/schema/sca/spring-sca.xsd">
	
	<context:annotation-config />
    <context:component-scan base-package="com.gemantic"/>  
	
	
	<bean id="scaClient"
		class="com.gemantic.common.sca.service.SCAClientBean">
		<property name="resource" value="client.composite" />
	</bean>
	
	
	<!-- ============================================================ -->
	<!-- ==                    CollegeHomeComponent                       == -->
	<!-- ============================================================ -->
	
	 
	
	
	<!-- TeacherService  -->

	
	<bean id="teacherService"
		class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="TeacherServiceComponent" />
		<property name="className"
			value="com.ptteng.college.home.service.TeacherService" />
	</bean>

	
	
	
	
	<!-- GraduateService  -->

	
	<bean id="graduateService"
		class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="GraduateServiceComponent" />
		<property name="className"
			value="com.ptteng.college.home.service.GraduateService" />
	</bean>

	
	
	
	
	<!-- ExchangeService  -->

	
	<bean id="exchangeService"
		class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="ExchangeServiceComponent" />
		<property name="className"
			value="com.ptteng.college.home.service.ExchangeService" />
	</bean>

	
	
	
	
	<!-- ActivityService  -->

	
	<bean id="activityService"
		class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="ActivityServiceComponent" />
		<property name="className"
			value="com.ptteng.college.home.service.ActivityService" />
	</bean>

	
	
	
	
	<!-- AdmissionEmploymentService  -->

	
	<bean id="admissionEmploymentService"
		class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="AdmissionEmploymentServiceComponent" />
		<property name="className"
			value="com.ptteng.college.home.service.AdmissionEmploymentService" />
	</bean>

	
	
	
	
	<!-- ArticleService  -->

	
	<bean id="articleService"
		class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="ArticleServiceComponent" />
		<property name="className"
			value="com.ptteng.college.home.service.ArticleService" />
	</bean>

	
	
	
	
	<!-- MajorService  -->

	
	<bean id="majorService"
		class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="MajorServiceComponent" />
		<property name="className"
			value="com.ptteng.college.home.service.MajorService" />
	</bean>

	
	
	
	
	<!-- InternshipService  -->

	
	<bean id="internshipService"
		class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="InternshipServiceComponent" />
		<property name="className"
			value="com.ptteng.college.home.service.InternshipService" />
	</bean>


	<!-- ManagerService  -->


	<bean id="managerService"
		  class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="ManagerServiceComponent" />
		<property name="className"
				  value="com.ptteng.college.home.service.ManagerService" />
	</bean>





	<!-- ModuleService  -->


	<bean id="moduleService"
		  class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="ModuleServiceComponent" />
		<property name="className"
				  value="com.ptteng.college.home.service.ModuleService" />
	</bean>





	<!-- RoleService  -->


	<bean id="roleService"
		  class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="RoleServiceComponent" />
		<property name="className"
				  value="com.ptteng.college.home.service.RoleService" />
	</bean>



	<!-- RoleModuleService  -->


	<bean id="roleModuleService"
		  class="com.gemantic.common.sca.service.SCAClientServiceFactory">
		<property name="client" ref="scaClient" />
		<property name="component" value="RoleModuleServiceComponent" />
		<property name="className"
				  value="com.ptteng.college.home.service.RoleModuleService" />
	</bean>
	
	
	
	<!-- performance -->
	
	 <aop:aspectj-autoproxy />
        <bean id="aroundLoggingTime" class="com.gemantic.common.stat.aop.time.AroundTimeConsume"/>
        <aop:config>
            <aop:aspect ref="aroundLoggingTime">
                <aop:pointcut id="publicServiceMethod" expression="execution(* com.gemantic..service.*.*(..)) &amp;&amp; (!execution(* com.gemantic.common.sca.service.*.*(..)))" />
                <aop:around method="around" pointcut-ref="publicServiceMethod"/>
            </aop:aspect>
        </aop:config>
</beans>

